form.form(action="/" method="POST")
  .settings
    h3 Сеттинги
    input.settings-input(type="text" id="slug" name="slug" placeholder="слаг" autofocus required)
    input.settings-input(type="url" class="settings-input" id="url" name="url" placeholder="линка на парнера" required)
  .partner-html
    h3 Хэтэмэль
    textarea.partner-html-input(name="header_html" id="headerHtml" placeholder="шапа" required)
    textarea.partner-html-input(name="footer_html" id="footerHtml" placeholder="футыр")
  .config
    h3 Конфиг
    each setting in moduleSettings
      - var name = setting.name
      - var value = setting.value
      - var desc = setting.description ? '(' + setting.description + ')' : '';
      label.config-label
        span.config-label-text #{name} #{desc}
        if typeof value === 'boolean'
          input.config-label-input(type='checkbox' name=name checked=!!value)
        else
          input.config-label-input.config-label-input-text(type='text' name=name placeholder=setting.placeholder)
  button.button-submit Komm am kommen
