extends ./layout.jade

block content
	form(action="/inliner", method="POST")
		label(for="html") html
		input#html(type="text", name="html")
		label(for="css") css
		input#css(type="text", name="css")
		button(type="submit") C7EHEPNTb