html
  head
    title OstroWLom
    link(href='http://fonts.googleapis.com/css?family=Roboto:300,400,400italic,700&subset=latin,cyrillic,greek',rel='stylesheet',type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Amatic+SC', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Anonymous+Pro&subset=latin,cyrillic', rel='stylesheet', type='text/css')
    link(href="../style.css", rel="stylesheet")

  body
    #particles-js
    section.content
      block content
    script(src="/particles.js")
    script
      include ../public/app.js
