.form {
  -ms-flex-line-pack: start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
  color: #cc3747;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
  width: calc(100% - 40px);
}
.settings {
  width: 400px;
}
.settings-input {
  display: block;
  line-height: 30px;
  margin-bottom: 15px;
  height: 30px;
  width: 300px;
}
.partner-html {
  width: calc(100% - 420px);
  margin-left: 20px;
}
.partner-html-input {
  background-color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ccc;
  display: block;
  font-size: 16px;
  font-family: 'Anonymous Pro';
  height: 30px;
  margin-bottom: 15px;
  outline: 0;
  width: 100%;
}
.config {
  width: 100%;
}
.config-label {
  display: block;
  margin-bottom: 10px;
  min-height: 30px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.config-label:before {
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  content: '';
  background: rgba(113,123,136,0.1);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.config-label:hover:before {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.config-label-text {
  color: #053d62;
  display: inline-block;
  vertical-align: middle;
  width: 420px;
}
.config-label-input {
  vertical-align: middle;
}
.config-label-input-text {
  line-height: 30px;
  width: calc(100% - 420px);
  font-size: 16px;
}
.header {
  background-color: #000;
  height: 40px;
  position: relative;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  width: 100%;
}
.header:hover {
  height: 60px;
}
.header-title {
  color: #fff;
  font-family: 'Amatic SC', cursive;
  font-size: 24px;
  position: absolute;
  margin: 0;
  left: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.button-submit {
  background-color: #cc3747;
  border: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
  height: 40px;
  letter-spacing: 1px;
  margin: 20px 0;
  outline: 0;
  padding: 0 5px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  transition: all 0.1s ease;
  width: 100%;
}
.button-submit:hover {
  -webkit-transform: translateY(-50%) scale(1.05);
  -moz-transform: translateY(-50%) scale(1.05);
  -o-transform: translateY(-50%) scale(1.05);
  -ms-transform: translateY(-50%) scale(1.05);
  transform: translateY(-50%) scale(1.05);
}
.button-submit:active {
  -webkit-transform: translateY(-50%) scale(0.95);
  -moz-transform: translateY(-50%) scale(0.95);
  -o-transform: translateY(-50%) scale(0.95);
  -ms-transform: translateY(-50%) scale(0.95);
  transform: translateY(-50%) scale(0.95);
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
.content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.content #output {
  overflow: scroll;
  max-height: 30vh;
}
