|goog.provide('owl.partners.#{name}');
| 
|goog.require('owl.partners');
|goog.require('owl.partners.Base');
|goog.require('owl.partners.#{slug}.config');
if header
  | 
  |goog.require('owl.tpl.partners.#{slug}.Header');
if footer
  | 
  |goog.require('owl.tpl.partners.#{slug}.Footer');
| 
|/**
| * @constructor
| * @extends {owl.partners.Base}
| */
|owl.partners.#{name} = function() {
| goog.base(this);
|};
|goog.inherits(owl.partners.#{name}, owl.partners.Base);
| 
|/** @inheritDoc */
|owl.partners.#{name}.prototype.getConfig = function() {
|  return owl.partners.#{slug}.config.Default;
|};
| 
|/** @inheritDoc */
|owl.partners.#{name}.prototype.init = function() {
| goog.base(this, 'init');
|};
if header
  | 
  |/** @inheritDoc */
  |owl.partners.#{name}.prototype.getHeaderComponent = function() {
  | var tpl = new owl.tpl.partners.#{slug}.Header();
  | return tpl.createComponent();
  |};
if footer
  | 
  |/** @inheritDoc */
  | owl.partners.#{name}.prototype.getFooterComponent = function() {
  | var tpl = new owl.tpl.partners.#{slug}.Footer();
  | return tpl.createComponent();
  | };
| 
|owl.partners.set('#{slug}', new owl.partners.#{name}());
|ota.modulePages.Manager.setLoaded('partner_#{slug}', owl.partners.#{name});


