|<% @require ota.Template %>
| 
if gcin
  |<% @require gcin.owl.partners.#{slug}.Footer %>
| 
| 
|<% @template owl.tpl.partners.#{slug}.Footer %>
|<% @inherits ota.Template %>
| 
|<% @block main { %>
| !{html}
|<% @block main } %>
| 