|<% @require ota.Template %>
if gcin
  | 
  |<% @require gcin.owl.partners.#{slug}.Header %>
| 
| 
|<% @template owl.tpl.partners.#{slug}.Header %>
|<% @inherits ota.Template %>
| 
|<% @block main { %>
| <div class="customheader">
|   !{html}
| </div>
| <div class="owl-header-inner"></div>
|<% @block main } %>
| 
