|@import 'css/mixins.scss';
if header
  | 
  |@import 'singlepage/scss/owl/partners/#{slug}/header.scss';
if footer
  | 
  |@import 'singlepage/scss/owl/partners/#{slug}/footer.scss';
|// Variables
|$colorMain: #f6f6f6;
|$colorSub: #d10064;
|$colorLink: #ada9a9;
|// Searchform
|.searchform-form {
|  background: $colorMain;
|  color: #ada9a9;
|  .searchform-title {
|    color: $colorMain;
|  }
|  .button.searchform-submit {
|    background: $colorSub;
|    text-shadow: none;
|    border: none;
|    box-shadow: none;
|    color: #fff;
|  }
|  .nodatesbutton {
|    border-color: darken($colorMain, 5%);
|  }
|}
|.welcomePage {
|  .searchform {
|    margin: 0 auto;
|    float: none;
|  }
|}
|// Custom Whitelabels Colors
|.hotelcard-link .hotelcard-title,
|.hotelcard-text-link,
|.hotelcard-location,
|.hotel-tabs-button,
|.hotel-change-dates,
|.hotel-similar-price-value,
|.booking-tabs-button,
|.hotelcard-link:visited,
|.booking-tabs-button,
|.hotel-reviews-brief-read-all,
|// .hotel-similar-title,
|// .hotel-similar-location,
|.booking-auth-social .social-auth,
|.serpfilter-price .serpfilter-title-nights,
|.hotel-rooms-not-found-choice-button,
|.hotel-rooms-not-found-choice:before,
|.hotel-room-rate-dateless-proceed-desc,
|.hotelcard-link:visited .hotelcard-title,
|.serpfilter-price .serpfilter-title-nights,
|.owl-populardestinations,
|.hotel-about-sorrymessage-link{
|  color: $colorMain;
|}
|.owl-populardestinations-destination-name,
|.owl-populardestinations-title,
|.searchform-example-button,
|.nodatesbutton,
|.serptabbutton,
|.serphotelnew-name-link,
|.serphotelnew-name-link:visited,
|.booking-paypage-grats-title,
|.hotelsearchinfo-comment,
|.sortbutton,
|.body-hotel .serptabbutton,
|.hotel-header-address,
|.hotel-metaroomsheader-searchparams,
|.hotel-metaroom-desclink,
|.hotel-metaroom-rate-desclink,
|.hotel-rating-param-name,
|.hotel-room-desc-link,
|.searchform-dest-disabled .searchform-destination-input,
|.booking-price-room-taxes,
|.booking-guests-toggle,
|.booking-guests-toggle,
|.booking-room-wishes-toggle,
|.wishbutton,
|.wishbutton-nativeselect:before,
|.booking-backlink-link,
|.booking-hotel-link,
|.formfieldeula-agreement,
|.formfieldeula-privacy,
|.tworowgallery-button-right-icon,
|.tworowgallery-button-left-icon,
|.hotel-dateless-searchform .searchform-tip,
|.hotel-readreviews-button  {
|  color: $colorSub;
|}
|.serpheader,
|.hotelsearchinfo-container,
|.hotel-room-rate-multibookingcontrol,
|.hotel-room-rate-multibookingcontrol-item-selected,
|.hotel-room-rate-multibookingcontrol-item-content:hover,
|.hotel-rating-param-indicator,
|.map-with-mapruler .mapruler,
|.hotel-multibookingsubmit,
|.header-select {
|  background: $colorMain;
|}
|.serpfilter-slider .goog-slider-rangehighlight,
|.serpfilter-slider .goog-twothumbslider-rangehighlight,
|.serpsizebutton,
|.serphotel-button,
|.serphotelnew-button,
|.hotel-metaroom-rate-book,
|.hotel-similar-proceed {
|  background: $colorSub;
|}
|.serphotelnew-button,
|.hotel-similar-proceed,
|.bookbutton,
|.hotel-readreviews-button{
|  border-color: $colorSub;
|}
|.sortbutton-checked {
|  color: #fff;
|}
|.serpsizebutton{
|  &:after {
|    border-right-color: $colorSub;
|    border-left-color: $colorSub;
|  }
|}
|.booking-tabs-button-checked {
|  color: #000;
|}
|.hotelsearchinfo-link {
|  color: rgba(255, 255, 255, .5);
|}
|.hotel-room-rate-multibookingcontrol,
|.hotel-similar:hover,
|.hotel-room:hover,
|.hotel-rooms-not-found-choice-button,
|.hotel-metaroomsheader-searchparams,
|.hotel-metaroom-desclink,
|.hotel-metaroom-rate-desclink,
|.wishbutton {
|  border-color: $colorSub;
|}
|.hotel-similar:hover {
|  box-shadow: 0 0 5px rgba($colorMain, .4);
|}
|.serpheader-search-button {
|  background: $colorSub;
|  &.goog-control-focused,
|  &.goog-control-hover {
|    background: $colorSub;
|  }
|}
|.sortbutton-content,
|.hotel-tabs-button-content,
|.hotel-header-address,
|.hotel-change-dates,
|.hotel-room-desc-link,
|.booking-guests-toggle,
|.booking-room-wishes-toggle,
|.booking-room-wishes-toggle:hover,
|.booking-price-room-taxes,
|.booking-tabs-button span,
|.booking-backlink-link,
|.hotel-about-sorrymessage-link,
|.hotel-reviews-brief-read-all {
|  border-bottom: 1px solid $colorSub;
|}
|.hotel-tabs-button-checked {
|  border-top-color: $colorMain;
|}
|.serptabbutton-content,
|.serptabbutton-hover .serptabbutton-content {
|  border-bottom-color: $colorSub;
|}
|// Buttons
|.button-flat {
|  border: none;
|  background: $colorSub;
|  &.goog-control-focused,
|  &.goog-control-hover {
|    background: $colorSub;
|  }
|}
|.button-blue,
|.button-blue:active,
|.button-blue:hover,
|.button i,
|.button:hover i,
|.button:active i {
|  box-shadow: none;
|  background: $colorSub;
|  border: $colorSub;
|}
|.mapruler {
|  background: $colorSub;
|  background: rgba($colorSub, .7);
|  &:hover {
|    background: $colorSub;
|    background: rgba($colorSub, .7);
|  }
|}
|.map-with-mapruler .mapruler,
|.hotel-multibookingsubmit {
|  background: rgba($colorMain, .7);
|  &:hover {
|    background: rgba($colorMain, .7);
|  }
|}
|// Banners
|.owl-banners {
|  position: absolute;
|  width: 360px;
|  right: 0;
|  top: 50px;
|}
|// Rooms
|.hotel-dreamsinfo,
|.hotel-metaroomsheader-authorizefordiscount {
|  display: none;
|}



