.button-submit
  background-color color-accent
  border 0
  border-radius 0
  color white
  cursor pointer
  font-family 'Amatic SC', cursive
  font-size 20px
  height 40px
  letter-spacing 1px
  margin: 20px 0
  outline 0
  padding 0 5px
  transform translateY(-50%)
  transition all .1s ease
  width: 100%
  &:hover
    transform translateY(-50%) scale(1.05)
  &:active
    transform translateY(-50%) scale(.95)
