.form
  align-content flex-start
  color color-accent
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content flex-start
  margin 0 auto
  max-width 1200px
  padding 0 20px
  width calc(100% - 40px)

.settings
  width 400px

  &-input
    display block
    line-height 30px
    margin-bottom 15px
    height 30px
    width 300px

.partner-html
  width calc(100% - 420px)
  margin-left 20px

  &-input
    background-color white
    box-sizing border-box
    border 1px solid #ccc
    display block
    font-size 16px
    font-family 'Anonymous Pro'
    height 30px
    margin-bottom 15px
    outline 0
    width 100%

.config
  width: 100%

  &-label
    display block
    margin-bottom: 10px
    min-height 30px
    position relative
    user-select none
    &:before
      absolute top -5px bottom -5px left -5px right -5px
      content ''
      background rgba(color-dark-gray, 0.1)
      opacity 0

    &:hover
      &:before
        opacity 1

    &-text
      color color-north-night
      display inline-block
      vertical-align: middle
      width 420px

    &-input
      vertical-align middle

      &-text
        line-height: 30px
        width: calc(100% - 420px)
        font-size 16px

