.header
  background-color #000000
  height 40px
  position relative
  transition 0.3s ease-out
  width 100%

  &:hover
    height 60px

  &-title
    color #fff
    font-family 'Amatic SC', cursive
    font-size 24px
    position: absolute
    margin: 0
    left: 10px
    top: 50%
    transform translateY(-50%)

