@import 'nib'

@import "vars"
@import "form"
@import "header"
@import "buttons"

body
  font-family 'Roboto', sans-serif
  font-size 16px
  margin 0
  padding: 0

.content
  position absolute
  top 0
  right 0
  bottom 0
  left 0
  display block
  box-sizing border-box

  #output
      overflow scroll
      max-height 30vh
